<configuration>
  <appSettings>
    <add key="MongoDbName" value="school" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultMongoConnection" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
